<!DOCTYPE html>
<html>
<head>
    <title>Image Classification</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .container {
            margin-top: 100px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Image Classification</h1>
        <form action="/" method="post" class="mt-5">
            <div class="form-group">
                <label for="image_url">Image URL:</label>
                <input type="text" id="image_url" name="image_url" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Classify</button>
        </form>
        <div>
                <a href="/gallery" class="btn btn-primary mt-4 py-4">View Gallery</a>
                <a href="/images" class="btn btn-primary mt-4 py-4">Filter</a>
        </div>
    </div>
</body>
</html>
